*.gdoc

# doc
doc/images/
doc/inspection/
doc/references/

# tutorials/
# tutorials/quadPiston
# geometry/
tutorials/quadPiston/geometry/*.stl
# mesh/
tutorials/quadPiston/mesh/constant/triSurface/*.eMesh
tutorials/quadPiston/mesh/constant/triSurface/*.stl
tutorials/quadPiston/mesh/constant/extendedFeatureEdgeMesh/*.obj
# case/
tutorials/quadPiston/case/constant/polyMesh
tutorials/quadPiston/case/VTK
tutorials/quadPiston/case/dynamicCode
tutorials/quadPiston/case/0.*
tutorials/quadPiston/case/1
# casePotential/
tutorials/quadPiston/casePotential/constant
tutorials/quadPiston/casePotential/system/fvSolution
tutorials/quadPiston/casePotential/system/controlDict
tutorials/quadPiston/casePotential/dynamicCode
tutorials/quadPiston/casePotential/0/polyMesh
tutorials/quadPiston/casePotential/0.*
tutorials/quadPiston/casePotential/1
# caseScalar/
tutorials/quadPiston/caseScalar/constant
tutorials/quadPiston/caseScalar/system/controlDict
tutorials/quadPiston/caseScalar/0
tutorials/quadPiston/caseScalar/0.*
tutorials/quadPiston/caseScalar/1