*.gdoc
*.log
log.*

# doc
doc/images/
doc/inspection/
doc/references/

# tutorials/quadPiston
# geometry/
tutorials/quadPiston/geometry/*.stl
# mesh/
tutorials/quadPiston/mesh/constant/polyMesh
tutorials/quadPiston/mesh/constant/triSurface/*
tutorials/quadPiston/mesh/constant/extendedFeatureEdgeMesh
# case/
tutorials/quadPiston/case/constant/polyMesh
tutorials/quadPiston/case/VTK
tutorials/quadPiston/case/dynamicCode
tutorials/quadPiston/case/0.*
tutorials/quadPiston/case/1
# casePotential/
tutorials/quadPiston/casePotential/0
tutorials/quadPiston/casePotential/0.*
tutorials/quadPiston/casePotential/1
tutorials/quadPiston/casePotential/constant
tutorials/quadPiston/casePotential/system/fvSolution
tutorials/quadPiston/casePotential/system/controlDict
tutorials/quadPiston/casePotential/dynamicCode
# caseScalar/
tutorials/quadPiston/caseScalar/0
tutorials/quadPiston/caseScalar/0.*
tutorials/quadPiston/caseScalar/1
tutorials/quadPiston/caseScalar/constant
tutorials/quadPiston/caseScalar/system/

# tutorials/prism
tutorials/prism/0.*
tutorials/prism/constant/polyMesh/

# tutorials/prism.Orig
tutorials/prism.Orig/0.*
tutorials/prism.Orig/constant/polyMesh/