# files
*.gdoc
*.log
log.*
.DS_Store

cellLevel
cellZones
faces
faceZones
level0Edge
neighbour
owner
pointLevel
points
pointZones
surfaceIndex

# folders
0.*/
1/
dynamicCode/
extendedFeatureEdgeMesh/
linux64GccDPInt32Opt/
VTK/

# doc
doc/images/
doc/inspection/
doc/references/

# tutorials/
# multiCompression/
tutorials/multiCompression/quadPiston/geometry/*.stl
tutorials/multiCompression/quadPiston/mesh/constant/triSurface/*

# potentialFoam/quadPiston/
tutorials/quadPiston/prism/0/
tutorials/quadPiston/prism/constant/
tutorials/quadPiston/prism/system/fvSolution
tutorials/quadPiston/prism/system/controlDict

# scalarTransportFoam/quadPiston/
tutorials/scalarTransportFoam/quadPiston/0/
tutorials/scalarTransportFoam/quadPiston/constant/
tutorials/scalarTransportFoam/quadPiston/system/
