# This is a basic workflow to help you get started with Actions

name: OpenFOAM CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
      
    - name: Install OpenFOAM-dev
      run: |
        sudo apt install -y openfoam-dev
        source /opt/openfoam-dev/etc/bashrc && echo $WM_PROJECT-$WM_PROJECT_VERSION is installed!
      
    - name: wmake solver(s)
      run: solvers/./Allwmake && echo wmake is finished successfull!
      
    - name: Test tutorials using Allrun script
      run: |
        rm -r tutorials/multiCompressionFoam/{cylCyclic2D,cylPiston,pipeCompression,shockTube,tubePurging}/*{Central,Pimple}Foam/
        tutorials/./Allrun && echo Allrun is finished!
